{% extends "base.html" %}
{% load static %}
{% block title %}
<title>Estadísticas de Tarifas Telefónicas</title>
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/listar_cuentas_presupuestarias.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<style>
  .table-container .top-bar h3 {
    margin: 0;
    color: #000000; /* Negro */
    font-weight: bold;
    text-align: center; /* Centrar el título */
    width: 100%; /* Asegurar que ocupe todo el ancho */
  }

  .grafico-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      flex-wrap: wrap; /* Permitir que los gráficos se envuelvan en dispositivos pequeños */
  }

  .grafico {
      margin: 10px;
      text-align: center;
      flex: 1 1 calc(50% - 20px); /* Dos gráficos por fila en pantallas grandes */
      max-width: calc(50% - 20px); /* Limitar el ancho máximo al 50% menos márgenes */
  }

  .grafico img {
      width: 80%;
      height: auto;
  }

  @media (max-width: 768px) {
      .grafico-container {
          flex-direction: column; /* Colocar los gráficos uno debajo del otro */
          overflow-y: auto; /* Permitir el deslizamiento vertical */
          max-height: 10vh; /* Limitar la altura del contenedor para permitir el scroll */
      }
      .grafico {
          flex: 1 1 100%;
          max-width: 100%; /* Asegurar que el gráfico ocupe el ancho completo */
          margin: 10px 0; /* Espacio vertical entre los gráficos */
      }
      .grafico img {
          width: 100%;
          height: auto; /* Mantener la proporción de la imagen */
      }
  }

  @media (max-width: 768px) {
    .grafico-container {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap !important;
      overflow-y: auto !important;/* Permite scroll vertical */
      max-height: 100vh !important; /* Asegura que el contenedor no exceda la altura de la ventana */
    }
  
    .grafico-container > * {
      flex-shrink: 0; /* Evita que los elementos hijos se encojan */
    }

    .table-container {
      overflow-y: auto; /* Permite scroll en el contenedor padre si es necesario */
    }
  }

</style>
{% endblock css %}

{% block content %}
<!-- Breadcrumb Bar -->
<div class="breadcrumb-bar">
    <div class="breadcrumb-content">
        <a href="/">< Inicio</a>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <!-- Main Content -->
        <main role="main" class="col-12 main-content">
          <div class="table-container">
              <div class="top-bar">
                  <h3>GRÁFICOS</h3>
              </div>
              <div class="grafico-container">
                  <div class="grafico">
                      <h4>Distribución de Tipos de Llamadas por Código de Unidad</h4>
                      <img src="data:image/png;base64,{{ graphic1 }}" alt="Distribución de Tipos de Llamadas por Código de Unidad">
                  </div>
                  <div class="grafico">
                      <h4>Número de Llamadas por Proveedor</h4>
                      <img src="data:image/png;base64,{{ graphic2 }}" alt="Gráfico de Número de Llamadas">
                  </div>
              </div>
          </div>
      </main>
    </div>
</div>

{% endblock content %}
