{% extends "base.html" %}

{% load static %}

{% block title %}
    <title>Sistema de Tarificación</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
{% endblock css %}
<body>
    <!-- Header -->
    
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <!-- Main Content -->
            <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4 main-content">
                <div class="center-box">
                    <div>
                        <h1 class="h2">¿Qué vas a hacer hoy?</h1>
                    </div>
                </div>
            </main>
        </div>
    </div>
    {% endblock content %}


</body>
</html>
