{% extends "base.html" %}
{% load static %}
    {% block title %}
    <title>Mantener Datos Cta Presu</title>
    {% endblock title %}
    {% block css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/listar_cuentas_presupuestarias.css' %}">
    {% endblock css %}
    {% block header %}
    <!-- Header -->
    <header class="header">
        <h2>Tarificación Telefónica</h2>
        <div class="welcome">
            <span>Bienvenido</span>
            <span class="admin">Administrador</span>
        </div>
    </header>
    {% endblock header %}
    {% block content %}
    <!-- Breadcrumb Bar -->
    <div class="breadcrumb-bar">
        <div class="breadcrumb-content">
            <a href="/">< Inicio</a>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <!-- Main Content -->
            <main role="main" class="col-12 main-content">
              <div class="table-container">
                  <div class="top-bar">
                      <button class="btn btn-primary" onclick="window.location.href='{% url 'crear_cuenta_presupuestaria' %}'">Agregar Cuenta Presupuestaria</button>
                      <h3>MANTENER DATOS CUENTAS PRESUPUESTARIAS</h3>
                      {% comment %} <form id="search-form" hx-get="{% url 'anexos_servicio' %}" hx-trigger="keyup changed delay:500ms" hx-target="#anexo-results"> {% endcomment %}
                        <input type="text" name="query" class="form-control" placeholder="Buscar...">
                      </form>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                          <tr>
                              <th style="width: 40%;">Id. Cuenta Presupuestaria</th>
                              <th style="width: 40%;">Nombre Cuenta Presupuestaria</th>
                              <th style="width: 20%;">Acciones</th>
                          </tr>
                      </thead>
                      <tbody id="anexo-results">
                          {% for cuenta_presupuestaria in cuentas_presupuestarias %}
                          <tr>
                              <td>{{ cuenta_presupuestaria.id_cuenta }}</td>
                              <td>{{ cuenta_presupuestaria.nombre_cuenta }}</td>
                              <td>
                                  <div class="btn-group">
                                      <a href="{% url 'modificar_cuenta_presupuestaria' id=cuenta_presupuestaria.id_cuenta %}" class="btn btn-warning">Modificar Cta Presu</a>
                                      <form action="{% url 'eliminar_cuenta_presupuestaria' id=cuenta_presupuestaria.id_cuenta %}" method="POST" style="display:inline;">
                                          {% csrf_token %}
                                          <button type="submit" class="btn btn-danger">Eliminar Cta Presu</button>
                                      </form>
                                  </div>
                              </td>
                          </tr>
                          {% empty %}
                          <tr>
                              <td colspan="3">No hay cuentas presupuestarias disponibles</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>                  
                  </div>
              </div>
          </main>
          
        </div>
    </div>
    {% endblock content %}
    {% block js %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% endblock js %}
