{% extends "base.html" %}
{% load static %}
{% block title %}
<title>Tarificaciones por Código de Unidad</title>
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/listar_tarificacion.css' %}">
{% endblock css %}
{% block header %}
<!-- Header -->
<header class="header">
    <h2>Tarificación Telefónica</h2>
    <div class="welcome">
      <span>Bienvenido</span>
      {% if rol_user %}
      <p style="color: red;">{{ rol_user }}</p>
      {% else %}
      <p>No has iniciado sesión.</p>
      {% endif %}
  </div>
</header>

<!-- Breadcrumb Bar -->
<div class="breadcrumb-bar">
    <div class="breadcrumb-content">
        <a href="/consultar_tarificacion_codigo">< Volver</a>
    </div>
</div>

<div class="container-fluid">
  <div class="row">
      <!-- Main Content -->
      <main role="main" class="col-12 main-content">
          <div class="table-container">
              <div class="top-bar">
                  <h3>TARIFICACIONES POR CODIGO UNIDAD</h3>
              </div>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                        <th style="width: 13%;">Id. Tarificación</th>
                        <th style="width: 13%;">Fecha Inicio</th>
                        <th style="width: 13%;">Fecha Término</th>
                        <th style="width: 13%;">Costo Total</th>
                        <th style="width: 13%;">Minutos Totales</th>
                        {% comment %} <th style="width: 13%;">Tipo de Llamada</th> {% endcomment %}
                        <th style="width: 13%;">Código de Unidad</th>
                        <th style="width: 15%;">Acciones</th>
                    </tr>
                </thead>
                <tbody id="tarificacion-results">
                    {% for tarificacion in tarificaciones %}
                    <tr>
                        <td>{{ tarificacion.id_tarificacion }}</td>
                        <td>{{ tarificacion.fecha_inicio|date:"d/m/Y" }}</td> <!-- Formato de fecha -->
                        <td>{{ tarificacion.fecha_termino|date:"d/m/Y" }}</td> <!-- Formato de fecha -->
                        <td>{{ tarificacion.costo_total }}</td>
                        <td>{{ tarificacion.minutos_totales }}</td>
                        {% comment %} <td>{{ tarificacion.tipo_llamada }}</td> {% endcomment %}
                        <td>{{ tarificacion.anexo.codunidad.nombre_codigo }}</td>
                        <td>
                          <a href="{% url 'detalle_tarificacion' tarificacion.id_tarificacion %}" class="btn btn-warning">
                              Seleccionar Tarificación
                          </a>
                      </td>
                      
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7">No hay tarificaciones disponibles</td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
      </main>
  </div>
</div>

<!-- Modal de confirmación -->

{% endblock header %}
{% block js %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
  function redirectToTarificacion(id) {
      window.location.href = `/listar_tarificacion/${id}/`;
  }
</script>
{% endblock js %}
