{% extends "base.html" %}
{% load static %}
{% block title %}
<title>Mantener Datos Cta Presu</title>
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/listar_cuentas_presupuestarias.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}

{% block content %}
<!-- Breadcrumb Bar -->
<div class="breadcrumb-bar">
    <div class="breadcrumb-content">
        <a href="/">< Inicio</a>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <!-- Main Content -->
        <main role="main" class="col-12 main-content">
          <div class="table-container">
              <div class="top-bar">
                  <button style="width: 250px" class="btn btn-primary" onclick="window.location.href='{% url 'crear_cuenta_presupuestaria' %}'">Agregar Cuenta Presupuestaria</button>
                  <h3>MANTENER DATOS CUENTAS PRESUPUESTARIAS</h3>
                  <form id="search-form" hx-get="{% url 'cuentas_presupuestarias' %}" hx-trigger="keyup changed delay:500ms" hx-target="#anexo-results">
                    <input type="text" name="query" class="form-control" placeholder="Buscar...">
                  </form>
              </div>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                      <tr>
                          <th style="width: 40%;">Id. Cuenta Presupuestaria</th>
                          <th style="width: 40%;">Nombre Cuenta Presupuestaria</th>
                          <th style="width: 20%;">Acciones</th>
                      </tr>
                  </thead>
                  <tbody id="anexo-results">
                      {% for cuenta_presupuestaria in cuentas_presupuestarias %}
                      <tr>
                          <td>{{ cuenta_presupuestaria.id_cuenta }}</td>
                          <td>{{ cuenta_presupuestaria.nombre_cuenta }}</td>
                          <td>
                              <div class="btn-group">
                                  <a href="{% url 'modificar_cuenta_presupuestaria' id=cuenta_presupuestaria.id_cuenta %}" class="btn btn-warning">Modificar Cta Presu</a>
                                  <button type="button" class="btn btn-danger" onclick="confirmarEliminacion('{{ cuenta_presupuestaria.id_cuenta }}', '{{ cuenta_presupuestaria.nombre_cuenta }}')">Eliminar Cta Presu</button>
                              </div>
                          </td>
                      </tr>
                      {% empty %}
                      <tr>
                          <td colspan="3">No hay cuentas presupuestarias disponibles</td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>                  
              </div>
          </div>
      </main>
    </div>
</div>

<!-- Modal de confirmación -->
<div class="modal fade" id="confirmarEliminacionModal" tabindex="-1" role="dialog" aria-labelledby="confirmarEliminacionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmarEliminacionModalLabel">Confirmar Eliminación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Seguro que deseas eliminar la cuenta presupuestaria <span id="nombreCuenta"></span>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <form id="eliminarForm" method="POST" style="display:inline;">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Sí</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  function confirmarEliminacion(idCuenta, nombreCuenta) {
    document.getElementById('nombreCuenta').textContent = nombreCuenta;
    const eliminarForm = document.getElementById('eliminarForm');
    eliminarForm.action = "{% url 'eliminar_cuenta_presupuestaria' 0 %}".replace('0', idCuenta);
    $('#confirmarEliminacionModal').modal('show');
  }
</script>
{% endblock content %}


