{% extends "base.html" %}
{% load static %}
    {% block title %}
    <title>Responsables Unidad</title>
    {% endblock title %}
    {% block css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/listar_responsables_unidad.css' %}">
    {% endblock css %}
    {% block header %}
    <!-- Header -->
    <header class="header">
        <h2>Tarificación Telefónica</h2>
        <div class="welcome">
            <span>Bienvenido</span>
            <span class="admin">Administrador</span>
        </div>
    </header>
    {% endblock header %}
    {% block content %}
    <!-- Breadcrumb Bar -->
    <div class="breadcrumb-bar">
        <div class="breadcrumb-content">
            <a href="/">< Inicio</a>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <!-- Main Content -->
            <main role="main" class="col-12 main-content">
              <div class="table-container">
                  <div class="top-bar">
                      <h3>RESPONSABLES DE UNIDAD</h3>
                      {% comment %} <form id="search-form" hx-get="{% url 'anexos_servicio' %}" hx-trigger="keyup changed delay:500ms" hx-target="#anexo-results"> {% endcomment %}
                          <input type="text" name="query" class="form-control" placeholder="Buscar...">
                      </form>
                  </div>
                  <div class="table-container d-flex">
                      <div class="table-responsive">
                          <table class="table table-striped">
                              <thead>
                                  <tr>
                                      <th>Id. usuario</th>
                                      <th>Nombre Usuario</th>
                                      <th>Correo Usuario</th>
                                      <th>Rol Usuario</th>
                                      <th>Acciones</th>
                                  </tr>
                              </thead>
                              <tbody id="anexo-results">
                                  {% for responsable in responsables %}
                                  <tr>
                                      <td>{{ responsable.id_usuario }}</td>
                                      <td>{{ responsable.username }}</td>
                                      <td>{{ responsable.email_usuario }}</td>
                                      <td>{{ responsable.rol_usuario }}</td>
                                      <td><button class="btn btn-warning" onclick="mostrarDetalles('{{ responsable.username }}', '{{ responsable.email_usuario }}', '{{ responsable.rol_usuario }}')">Seleccionar Usuario</button></td>
                                  </tr>
                                  {% empty %}
                                  <tr>
                                      <td colspan="5">No hay responsables de unidad disponibles</td>
                                  </tr>
                                  {% endfor %}
                              </tbody>
                          </table>
                      </div>
                      <div class="side-text col-4">
                          <h3>Detalle del responsable:</h3>
                          <div id="detalles-usuario">
                              <p>Selecciona un usuario para ver los detalles.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </main>
          
        </div>
    </div>
    {% endblock content %}
    {% block js %}
    <script>
        function mostrarDetalles(username, correo, rol) {
            const detallesDiv = document.getElementById('detalles-usuario');
            detallesDiv.innerHTML = `
                <p><strong>Nombre de Usuario:</strong> ${username}</p>
                <p><strong>Correo Electrónico:</strong> ${correo}</p>
                <p><strong>Rol del Usuario:</strong> ${rol}</p>
            `;
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% endblock js %}
