{% extends "base.html" %}
{% load static %}
{% block title %}
<title>Mantener Datos Proveedor</title>
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/listar_proveedor.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}

{% block content %}
<!-- Breadcrumb Bar -->
<div class="breadcrumb-bar">
  <div class="breadcrumb-content">
      <a href="/">< Inicio</a>
  </div>
</div>
<div class="container-fluid">
    <div class="row">
        <!-- Main Content -->
        <main role="main" class="col-12 main-content">
            <div class="table-container">
                <div class="top-bar">
                    <button style="width: 200px;" class="btn btn-primary" onclick="window.location.href='{% url 'crear_proveedor' %}'">Agregar Proveedor</button>
                    <h3>MANTENER DATOS PROVEEDOR</h3>
                    <form id="search-form" hx-get="{% url 'proveedores' %}" hx-trigger="keyup changed delay:500ms" hx-target="#anexo-results">
                      <input type="text" name="query" class="form-control" placeholder="Buscar...">
                    </form>
                </div>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 15%;">Id. Proveedor</th>
                            <th style="width: 25%;">Nombre</th>
                            <th style="width: 20%;">Tarifa Celular</th>
                            <th style="width: 20%;">Tarifa SLM</th>
                            <th style="width: 20%;">Tarifa LDI</th>
                            <th style="width: 20%;">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="anexo-results">
                        {% for proveedor in proveedores %}
                        <tr>
                            <td>{{ proveedor.id_proveedor }}</td>
                            <td>{{ proveedor.nombre_proveedor }}</td>
                            <td>{{ proveedor.tarifa_cel }}</td>
                            <td>{{ proveedor.tarifa_slm }}</td>
                            <td>{{ proveedor.tarifa_ldi }}</td>
                            <td>
                                <div class="btn-group">
                                    <a href="{% url 'modificar_proveedor' id=proveedor.id_proveedor %}" class="btn btn-warning">Modificar Proveedor</a>
                                    <button type="button" class="btn btn-danger" onclick="confirmarEliminacion('{{ proveedor.id_proveedor }}', '{{ proveedor.nombre_proveedor }}')">Eliminar Proveedor</button>
                                </div>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6">No hay proveedores disponibles</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
        </main>
    </div>
</div>

<!-- Modal de confirmación -->
<div class="modal fade" id="confirmarEliminacionModal" tabindex="-1" role="dialog" aria-labelledby="confirmarEliminacionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmarEliminacionModalLabel">Confirmar Eliminación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Seguro que deseas eliminar el proveedor <span id="nombreProveedor"></span>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <form id="eliminarForm" method="POST" style="display:inline;">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Sí</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function confirmarEliminacion(idProveedor, nombreProveedor) {
    document.getElementById('nombreProveedor').textContent = nombreProveedor;
    const eliminarForm = document.getElementById('eliminarForm');
    eliminarForm.action = "{% url 'eliminar_proveedor' 0 %}".replace('0', idProveedor);
    $('#confirmarEliminacionModal').modal('show');
  }
</script>
{% endblock content %}


