{% extends "base.html" %}
{% load static %}
{% block title %}
<title>Mantener Datos Anexos</title>
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/listar_anexo.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}
{% block content %}
<!-- Breadcrumb Bar -->
<div class="breadcrumb-bar">
    <div class="breadcrumb-content">
        <a href="/">< Inicio</a>
    </div>
</div>

<div class="container-fluid">
  <div class="row">
      <!-- Main Content -->
      <main role="main" class="col-12 main-content">
          <div class="table-container">
              <div class="top-bar">
                  <button style="width: 200px" class="btn btn-primary" onclick="window.location.href='{% url 'crear_anexo' %}'">Agregar Anexo</button>
                  <h3>MANTENER DATOS ANEXO</h3>
                  <form id="search-form" hx-get="{% url 'listar_responsables_unidad' %}" hx-trigger="keyup changed delay:500ms" hx-target="#anexo-results">
                    <input type="text" name="query" class="form-control" placeholder="Buscar...">
                  </form>
              </div>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                      <tr>
                          <th style="width: 10%;">Id. Anexo</th>
                          <th style="width: 15%;">Número Anexo</th>
                          <th style="width: 15%;">Usuario</th>
                          <th style="width: 15%;">Código Unidad</th>
                          <th style="width: 10%;">Cargo Fijo</th>
                          <th style="width: 13%;">Estado</th>
                          <th style="width: 25%;">Acciones</th>
                      </tr>
                  </thead>
                  <tbody id="anexo-results">
                      {% for anexo in anexos %}
                      <tr>
                          <td>{{ anexo.id_anexo }}</td>
                          <td>{{ anexo.numero_anexo }}</td>
                          <td>{{ anexo.usuario }}</td>
                          <td>{{ anexo.codunidad }}</td>
                          <td>{{ anexo.cargo_fijo }}</td>
                          <td>{{ anexo.estado_anexo }}</td>
                          <td>
                              <div class="btn-group">
                                  <a href="{% url 'modificar_anexo' id=anexo.id_anexo %}" class="btn btn-warning">Modificar Anexo</a>
                                  <button type="button" class="btn btn-danger" onclick="confirmarEliminacion('{{ anexo.id_anexo }}', '{{ anexo.numero_anexo }}')">Eliminar Anexo</button>
                              </div>
                          </td>
                      </tr>
                      {% empty %}
                      <tr>
                          <td colspan="7">No hay anexos disponibles</td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
            </div>
          </div>
      </main>
  </div>
</div>

<!-- Modal de confirmación -->
<div class="modal fade" id="confirmarEliminacionModal" tabindex="-1" role="dialog" aria-labelledby="confirmarEliminacionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmarEliminacionModalLabel">Confirmar Eliminación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Seguro que deseas eliminar el anexo <span id="numeroAnexo"></span>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <form id="eliminarForm" method="POST" style="display:inline;">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Sí</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  function confirmarEliminacion(idAnexo, numeroAnexo) {
    document.getElementById('numeroAnexo').textContent = numeroAnexo;
    const eliminarForm = document.getElementById('eliminarForm');
    eliminarForm.action = "{% url 'eliminar_anexo' 0 %}".replace('0', idAnexo);
    $('#confirmarEliminacionModal').modal('show');
  }
</script>

{% endblock content %}



