{% extends "base.html" %}
{% load static %}
{% block title %}<title>Mantener Datos Usuarios</title>{% endblock title %}
{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/listar_usuarios.css' %}">
{% endblock css %}
{% block header %}
<!-- Header -->
<header class="header">
    <h2>Tarificación Telefónica</h2>
    <div class="welcome">
        <span>Bienvenido</span>
        <span class="admin">Administrador</span>
    </div>
</header>
{% endblock header %}
{% block content %}
<!-- Breadcrumb Bar -->
<div class="breadcrumb-bar">
    <div class="breadcrumb-content">
        <a href="/"> < Inicio</a>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <!-- Main Content -->
        <main role="main" class="col-12 main-content">
            <div class="table-container">
                <div class="top-bar">
                    <button class="btn btn-primary" onclick="window.location.href='{% url 'crear_usuario' %}'">Agregar Usuario</button>
                    <h3>MANTENER DATOS USUARIOS</h3>
                    <form id="search-form" hx-get="{% url 'usuarios' %}" hx-trigger="keyup changed delay:500ms" hx-target="#anexo-results">
                      <input type="text" name="query" class="form-control" placeholder="Buscar...">
                    </form>
                </div>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 15%;">Id. Usuario</th>
                            <th style="width: 25%;">Username</th>
                            <th style="width: 20%;">Password</th>
                            <th style="width: 20%;">Correo</th>
                            <th style="width: 20%;">Rol</th>
                            <th style="width: 20%;">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="anexo-results">
                        {% for usuario in usuarios %}
                        <tr>
                            <td>{{ usuario.id_usuario }}</td>
                            <td>{{ usuario.username }}</td>
                            <td>**********</td> <!-- 10 asteriscos fijos -->
                            <td>{{ usuario.email_usuario }}</td>
                            <td>{{ usuario.rol_usuario }}</td>
                            <td>
                                <div class="btn-group">
                                    <a href="{% url 'modificar_usuario' id=usuario.id_usuario %}" class="btn btn-warning">Modificar Usuario</a>
                                    <button type="button" class="btn btn-danger" onclick="confirmarEliminacion('{{ usuario.id_usuario }}', '{{ usuario.username }}')">Eliminar Usuario</button>
                                </div>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6">No hay usuarios disponibles</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
        </main>
    </div>
</div>

<!-- Modal de confirmación -->
<div class="modal fade" id="confirmarEliminacionModal" tabindex="-1" role="dialog" aria-labelledby="confirmarEliminacionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmarEliminacionModalLabel">Confirmar Eliminación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Seguro que deseas eliminar el usuario <span id="nombreUsuario"></span>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <form id="eliminarForm" method="POST" style="display:inline;">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Sí</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block js %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
  function confirmarEliminacion(idUsuario, nombreUsuario) {
    document.getElementById('nombreUsuario').textContent = nombreUsuario;
    const eliminarForm = document.getElementById('eliminarForm');
    eliminarForm.action = "{% url 'eliminar_usuario' 0 %}".replace('0', idUsuario);
    $('#confirmarEliminacionModal').modal('show');
  }
</script>
{% endblock js %}
