<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Reporte de Tarificación</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #000;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Reporte de Tarificación</h1>
    <table>
        <tr>
            <th>Campo</th>
            <th>Valor</th>
        </tr>
        <tr>
            <td>Id. Tarificación</td>
            <td>{{ tarificacion.id_tarificacion }}</td>
        </tr>
        <tr>
            <td>Fecha Inicio</td>
            <td>{{ tarificacion.fecha_inicio|date:"d/m/Y" }}</td>
        </tr>
        <tr>
            <td>Fecha Término</td>
            <td>{{ tarificacion.fecha_termino|date:"d/m/Y" }}</td>
        </tr>
        <tr>
            <td>Costo Total</td>
            <td>{{ tarificacion.costo_total }}</td>
        </tr>
        <tr>
            <td>Minutos Totales</td>
            <td>{{ tarificacion.minutos_totales }}</td>
        </tr>
        <tr>
            <td>Código de Unidad</td>
            <td>{{ tarificacion.anexo.codunidad.nombre_codigo }}</td>
        </tr>
    </table>
</body>
</html>
